body {
  font-family: "PT Mono", monospace;
  line-height: 1.6;
  /* background: #000; */
  overflow-x: hidden;
  font-size: 16px; }
  body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;    
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible; }

.text-black {
  color: #000000 !important; }

.text-secondary {
  color: #000000 !important; }

.bg-primary-light {
  background-color: rgba(3, 137, 255, 0.05); }

.bg-secondary-light {
  background-color: rgba(0, 0, 0, 0.05); }

a {
  color: #e63946;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    color: #e63946 !important;
    text-decoration: none; }
    a svg:hover {
      color: #e63946 !important;
    }

::-moz-selection {
  background: #000000;
  color: #ffffff; }

::selection {
  background: #000000;
  color: #ffffff; }

.text-primary {
  color: #e63946 !important; }

a.text-primary {
  color: #e63946 !important; }
  a.text-primary:hover {
    color: rgb(34, 197, 94) !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "Montserrat", sans-serif;
  color: #dddde6; }

.btn {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
  font-size: 14px;
  border: 1px solid transparent; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn-primary {
    background: #e63946;
    border-color: #e63946; }
    .btn.btn-primary:hover {
      border-color: #e63946;
      background: #e63946; }
  .btn.btn-black {
    background: #000000;
    color: #ffffff; }
    .btn.btn-black:hover {
      border-color: #000000;
      background: transparent;
      color: #000000; }
  .btn.btn-outline-black {
    background: transparent;
    color: #000000;
    border-color: #000000; }
    .btn.btn-outline-black:hover {
      border-color: #000000;
      background: #000000;
      color: #ffffff; }
  .btn.btn-secondary {
    background: #000000;
    border-color: #000000; }
    .btn.btn-secondary:hover {
      background: #0a0a0a;
      border-color: #0a0a0a; }


/*PRELOADING------------ */
#overlayer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 7100;
  background: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loader {
  z-index: 7700;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.item {
  /* border: none;
  margin-bottom: 30px;
  border-radius: 4px; */
  background: #e63946; }
  .item a {
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 4px; }
    .item a img {
      position: relative;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
  .item .item-wrap {
    display: block;
    position: relative; }
    .item .item-wrap:after {
      z-index: 2;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out; }
    .item .item-wrap > span {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 3;
      -webkit-transform: translate(-50%, -50%) scale(0);
      -ms-transform: translate(-50%, -50%) scale(0);
      transform: translate(-50%, -50%) scale(0);
      color: #ffffff;
      font-size: 1.7rem;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }
    .item .item-wrap:hover:after {
      opacity: 1;
      visibility: visible; }
    .item .item-wrap:hover span {
      margin-top: 0px;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1); }
  .item:hover a img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; }

.gsap-reveal-img {
  line-height: 0; }
  .gsap-reveal-img .reveal-wrap {
    position: relative;
    overflow: hidden; }
    .gsap-reveal-img .reveal-wrap .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eeeeee;
      margin-left: -100%;
      z-index: 9; }
    .gsap-reveal-img .reveal-wrap .reveal-content {
      opacity: 0;
      visibility: hidden; }
      .gsap-reveal-img .reveal-wrap .reveal-content .portfolio-item-content h3 {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold; }

.gsap-reveal {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  @media (max-width: 991.98px) {
    .gsap-reveal.gsap-reveal-filter {
      overflow: visible !important; } }
  .gsap-reveal .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black; }

.gsap-reveal-hero {
  line-height: 0; }
  .gsap-reveal-hero .reveal-wrap {
    position: relative;
    overflow: hidden;
    display: inline-block; }
    .gsap-reveal-hero .reveal-wrap .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eeeeee;
      margin-left: -100%;
      z-index: 2; }
    .gsap-reveal-hero .reveal-wrap .reveal-content {
      /* line-height: 0.5; */
      z-index: 1;
      display: inline-block;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%); }

.testimonial-wrap .owl-stage-outer {
  padding-top: 7rem;
  padding-bottom: 7rem; }

.testimonial-v1 {
  text-align: center;
  padding: 20px;
  border: 1px solid #2c2c2c;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  position: relative;
  border-radius: 10px; }
  /* .testimonial-v1 img {
    width: 80px !important;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    margin-top: -70px; }
  .testimonial-v1 h3 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 1; }
  .testimonial-v1 p {
    font-size: 14px; }
  .testimonial-v1 .caption {
    font-size: 13px; } */
  .testimonial-v1:hover {
    border-color: #cc2f3c; }

.card-color{
  background-color: #111111;
}